/* font-family: 'Open Sans',
sans-serif;
font-family: 'Poppins',
sans-serif; */

/* 
rem - успадковуються від кореневого елемента
em - успадковуються від батьківського елемента
*/

html {
  font-size: 10px;
}

body {
  /* задаємо розмір шрифта відносно html (базовий шрифт = 16px) */
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}